*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* index.css or globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}